/**
	dark: #464646
	light: #9c9d9a
**/
main a {
	color:#9c9d9a;
	z-index:1;
}
main a :hover{
	color:#464646;
}
body {
	background-color: #464646;
}
.current-menu-item{
    border: 5px solid #464646 !important;
}
.burger i{
	color: #464646;
}

.nav-horizontal ul  li:hover, .nav-vertical ul  li:hover{
	border: 5px solid #9c9d9a !important;
}
.b2g_social_link :hover{
	color: #9c9d9a;;
}

.nav-mobile ul  li:hover{
	border: 5px solid #9c9d9a;
}

main p:last-child {
	border-bottom: 10px solid #9c9d9a;
	border-right: 10px solid #9c9d9a;
}

.header {
    border: 10px solid #9c9d9a;
}

.footer{
	border-top: 10px solid #9c9d9a;
	border-right: 10px solid #9c9d9a;
}
.bordered_text p{
	border: 10px solid #9c9d9a;
}
.six_img_with_bg .six_img_no_bg_sub{
	background-color: #464646;
}
