/*
	Theme Name: Bit2Good
	Theme URI: http://bit2good.com
	Description: Bit2Good Standard Layout
	Version: 1.0.0
	Author: Lukas Giuliani (@bit2good)
	Author URI: http://bit2good.com
	Tags: Bit2Good, HTML5, CSS3

	License: MIT
	License URI: http://opensource.org/licenses/mit-license.php
*/

/*------------------------------------*\
    MAIN
\*------------------------------------*/

/* global box-sizing */
*,
*:after,
*:before {
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}
/* html element 62.5% font-size for REM use */
html {
	font-size:62.5%;
	height: 100%;
}
body {
	height: 100%;
	font:300 16px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color:#000;
}
/* clear */
.clear:before,
.clear:after {
    content:' ';
    display:table;
}

.clear:after {
    clear:both;
}
.clear {
    *zoom:1;
}
img {
	max-width:100%;
	vertical-align:bottom;
}
a {
	color:#000;
	text-decoration:none;
}
a:hover {
	color:#000;
}
a:focus {
	outline:0;
}
a:hover,
a:active {
	outline:0;
}
input:focus {
	outline:0;
	border:1px solid #04A4CC;
}

/*------------------------------------*\
    STRUCTURE
\*------------------------------------*/

/* wrapper */
.wrapper {
	max-width:1024px;
	width:100%;
	margin:0 auto;
}
/* header */
.header_wrapper{
    padding: 20px 0px 0px 20px;
    background-color: white;
    box-sizing: border-box;
    height: 300px;
    position: fixed;
    margin: 0 auto;
    width: 1024px;
    z-index: 2;
}
.header_wrapper_smaller{
	height: 120px;
}
.header {
	width: 984px;
    padding: 15px;
	position: fixed;
    z-index: 3;
    background-color: white;
    top: 0px;
    box-sizing: border-box;
	margin-top:15px;
	/*outline: 15px solid white;*/
}
.header:after, .header:before{
    content: '';
    display: block;
    position: absolute;
    width: 12%;
    height: 100%;
    top: 10px;
    border-bottom: 10px solid white;
}
.header:after{
    left: -10px;
}
.header:before{
    right: -10px;
}
/* logo */
.logo {
	text-align: center;
}
.logo img{
	padding:15px 0px;
	max-height: 174px;
	width:auto;
}


/* nav */
.nav{
	padding-top: 175px;
}

.nav ul{
	text-align: center;
	padding-left: 0px;
}	
.nav-horizontal ul  li{
	border: 5px solid white;
	display: inline-block;
	padding: 5px 5px;
	box-sizing: border-box;
}
.sub-menu{
	position: relative;
}
.nav ul .sub-menu li{
	background-color:white;
	border: 5px solid #white;
}
.nav-horizontal ul .sub-menu li{
	display: none;
	position: absolute;
	left: -15px;
	text-align:left;
	min-width:200px;
	z-index:2;
}
.nav ul .sub-menu li:nth-child(1){
	top:10px;
}
.nav ul .sub-menu li:nth-child(2){
	top:52px;
}
.nav ul .sub-menu li:nth-child(3){
	top:94px;
}
.nav-horizontal ul  li:hover li{
	display:block !important;
}
/* sidebar */
.sidebar {

}
/* footer */
.footer {
    position: fixed;
    bottom: 0px;
	background-color: white;
    padding: 0px;
}

/* vertical menu */
.b2g_left_main{
	position: fixed;
}

.b2g_right_main{
	padding-left: 205px;
	margin-top: -85px;
}

.smaller_main .b2g_right_main{
	margin-top: -75px;
}

main .nav-vertical{
	padding-top: 260px;
}

.smaller_main .nav-vertical{
	padding-top: 105px;
}

.nav-vertical ul li{
    list-style: none;
    width: 200px !important;
    text-align: left;
    padding: 5px 0px 5px 15px;
	border: 5px solid white;
	padding: 5px 10px;
	box-sizing: border-box;	
	margin-bottom: 10px;
}

.nav-vertical ul  li:hover ul{
	display:block !important;
}

.nav-vertical .sub-menu li{
	width: 100% !important;
    padding-left: 0px;
    border: 5px solid white !important;
	margin-bottom: 0px;
}
.nav-vertical .sub-menu li:hover{
	border: 5px solid white !important;
}

.nav-vertical .sub-menu{
	display: none;
}

.nav-vertical ul{
	padding-left: 0px;
}

/*------------------------------------*\
    PAGES
\*------------------------------------*/

.header .logo img, .header .nav, .nav-vertical, .b2g_social_link, .b2g_social_link i, .header_wrapper{
	transition: 0.5s;
	-webkit-transition: 0.5s;
}

main{
	position: relative;
    top: 300px;
	background-color: white;
	padding: 55px 20px 90px 20px;
}
.logo-horizontal img{
	position: absolute;
}

.logo img{
	left: calc(50% - 72px);
}

.smaller .logo img{
	padding: 0px 0px;
	max-height: 59px;
   left: 25px;
   top: 20px;
}
.smaller  .nav{
	padding-top: 0px;
}
.smaller_main{
	top: 220px !important;
}

main p {
	border: 10px solid white;
	padding: 0px 15px;
	line-height: 1.5em;
}

main h1{
	font-weight:100;
} 
main h2{
	font-weight:300;
	padding-left:20px;
} 

.copyright{
	padding-left: 25px;
	display: inline-block;
}
.b2g_social_link{
    font-size: 40px;
    float: right;
    margin-right: 10px;
}
/*------------------------------------*\
    BORDERS
\*------------------------------------*/

main p:last-child {
	position: relative;
	padding-bottom:15px;
}

main p:last-child:after {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height:50%;
	top: -10px;
    left: 10px;
	border-right: 10px solid white;
	z-index: -1;
}
main p:last-child:before {
	content: '';
	display: block;
	position: absolute;           
	width:50%;
	height:100%;
	top:10px;
	left: -10px;
	border-bottom:10px solid white;
 }	

article:after{
	content: '';
	display: block;	
	width:70%;
	margin: 0px auto 60px;
	padding-bottom: 60px;
	border-bottom: 1px dashed #9c9d9a;
	opacity: 0.5;
}
article:last-child:after{
	content: '';
	display: block;	
	margin: 0px;
	padding-bottom: 60px;
	border-bottom: 0px dashed #9c9d9a;
	opacity: 0.5;
}
/*------------------------------------*\
    CONTAINER
\*------------------------------------*/
 .six_img_no_bg_sub div{
	width:100%;
 }
 .six_img_no_bg_sub img{
	width: 33%;
	display: inline-block;
	padding: 20px;
 }
 .img_ff_text img{
	width: 100%;
	padding: 20px 0px;
}
.bordered_text p{
	padding: 20px;
}
.bordered_text p:before, .bordered_text p:after{
	display: none;
}
.half_half_img_text img, .half_half_img_text p, .half_half_text_text p, .double_text_img_text_sub p{
	width:49%;
	display: inline-block;
	padding: 20px;
	vertical-align: top;
}
.half_half_img_text .right{
	margin-left: 15px;
}
.half_half_text_text .right{
	margin-left: 15px;
	padding-right: 20px;
}	
.half_half_text_text p, .double_text_img_text_sub p{
	padding: 0px 20px;
	border: none;
}
.double_text_img_text img{
	padding: 20px;
}
.img_tiled img{
	padding: 0px 20px;
    max-height: 300px;
    width: 100%;	
}

.img_tiled_sub img{
	padding:0px;
	display: inline-block;
	width:50%;
	box-sizing:border-box;
	float:left;
}
.img_tiled_sub img:first-child{
	padding-left:20px;
}
.img_tiled_sub img:last-child{
	padding-right:20px;
}
/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/


@media only screen and (max-width:768px) {
	.burger{
		display: inline-block !important;
		cursor: pointer;
		position: absolute;
		right: 0px;
		margin-right: 15px;	
		top: 7px;		
	}
	.burger i{
		font-size: 70px;
	}
	.logo{
		text-align: left;
		display: inline-block;
	}
	.logo img{
		position: inherit;
		padding: 0px 0px;
		max-height: 59px;
		left: 25px;
		top: 20px;		
	}
	.nav-horizontal, .nav-vertical{
		display: none;
	}
	.nav-mobile{
		display: none;
		width: 100%;
	}
	.nav-mobile ul li{
		list-style: none;
		padding: 5px 0px;
		border: 5px solid white;
	} 
	.nav-mobile ul{
		padding-left: 0px;
	}
	.nav{
		padding-top:0px;
		transition: 0.0s !important;
		-webkit-transition: 0.0s !important;		
	}
	main{
		top: 100px;
	}
	.nav-mobile .sub-menu{
		display:none;	
		position: inherit !important;
	}
	.nav-mobile .sub-menu li{
		position: inherit !important;
		text-align: center !important;
		border: 5px solid white !important;
		left: 0px;
	}	
	.b2g_right_main{
		padding-left: 0px;
		margin-top: 0px;		
	}
	main p {
		padding: 0px;
	}
	.copyright{
		padding-left: 0px;
		display: inline-block;
		width: 100%;
		text-align: center;	
		margin-bottom: 5px;
	}
	.b2g_social_container{
		text-align:center;
		display: inherit;
		float: inherit;
	}
	.b2g_social_link{
		float: inherit;
	}
	.header_wrapper{
		height: 100px;
	}	
}

@media only screen and (max-width:945px) {
	.six_img_no_bg_sub img{
		width: 100%;
		padding: 20px;
	}
	.half_half_img_text img, .half_half_img_text p, .half_half_text_text p, .double_text_img_text_sub p{
		width:100%;
		display: block;
		padding: 10px 20px;
	}	
	.half_half_img_text .right{
		margin-left: 0px;
	}	
	.half_half_text_text .right{
		margin-left: 0px;
	}	
	.half_half_text_text p{
		padding:0px;
	}
}


/*------------------------------------*\
    FOOTER
\*------------------------------------*/

.footer:before{
	content: '';
    display: block;
    position: absolute;
    width: 10%;
    height: 100%;
    top: -10px;
    border-top: 10px solid white;	
}
.b2g_social_container{
	display: inline-block;
    float: right;
}
/*------------------------------------*\
	TYPOGRAPHY
\*------------------------------------*/

@font-face {
	font-family:'Font-Name';
	src:url('fonts/font-name.eot');
	src:url('fonts/font-name.eot?#iefix') format('embedded-opentype'),
		url('fonts/font-name.woff') format('woff'),
		url('fonts/font-name.ttf') format('truetype'),
		url('fonts/font-name.svg#font-name') format('svg');
    font-weight:normal;
    font-style:normal;
}

.burger, .nav-mobile{
	display: none;
}

/*------------------------------------*\
    MISC
\*------------------------------------*/

::selection {
	background:#04A4CC;
	color:#FFF;
	text-shadow:none;
}
::-webkit-selection {
	background:#04A4CC;
	color:#FFF;
	text-shadow:none;
}
::-moz-selection {
	background:#04A4CC;
	color:#FFF;
	text-shadow:none;
}

/*------------------------------------*\
    WORDPRESS CORE
\*------------------------------------*/

.alignnone {
	margin:5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
	display:block;
	margin:5px auto 5px auto;
}
.alignright {
	float:right;
	margin:5px 0 20px 20px;
}
.alignleft {
	float:left;
	margin:5px 20px 20px 0;
}
a img.alignright {
	float:right;
	margin:5px 0 20px 20px;
}
a img.alignnone {
	margin:5px 20px 20px 0;
}
a img.alignleft {
	float:left;
	margin:5px 20px 20px 0;
}
a img.aligncenter {
	display:block;
	margin-left:auto;
	margin-right:auto;
}
.wp-caption {
	background:#FFF;
	border:1px solid #F0F0F0;
	max-width:96%;
	padding:5px 3px 10px;
	text-align:center;
}
.wp-caption.alignnone {
	margin:5px 20px 20px 0;
}
.wp-caption.alignleft {
	margin:5px 20px 20px 0;
}
.wp-caption.alignright {
	margin:5px 0 20px 20px;
}
.wp-caption img {
	border:0 none;
	height:auto;
	margin:0;
	max-width:98.5%;
	padding:0;
	width:auto;
}
.wp-caption .wp-caption-text,
.gallery-caption {
	font-size:11px;
	line-height:17px;
	margin:0;
	padding:0 4px 5px;
}
.sticky {

}
.bypostauthor {

}

/*------------------------------------*\
    PRINT
\*------------------------------------*/

@media print {
	* {
		background:transparent !important;
		color:#000 !important;
		box-shadow:none !important;
		text-shadow:none !important;
	}
	a,
	a:visited {
		text-decoration:underline;
	}
	a[href]:after {
		content:" (" attr(href) ")";
	}
	abbr[title]:after {
		content:" (" attr(title) ")";
	}
	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content:"";
	}
	pre,blockquote {
		border:1px solid #999;
		page-break-inside:avoid;
	}
	thead {
		display:table-header-group;
	}
	tr,img {
		page-break-inside:avoid;
	}
	img {
		max-width:100% !important;
	}
	@page {
		margin:0.5cm;
	}
	p,
	h2,
	h3 {
		orphans:3;
		widows:3;
	}
	h2,
	h3 {
		page-break-after:avoid;
	}
}
.noboard{
	border: none !important;
}
.noboard:before,.noboard:after{
	content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-bottom: none !important;
}





/**
 * BxSlider v4.1.2 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Written by: Steven Wanderski, 2014
 * http://stevenwanderski.com
 * (while drinking Belgian ales and listening to jazz)
 *
 * CEO and founder of bxCreative, LTD
 * http://bxcreative.com
 */


/** RESET AND LAYOUT
===================================*/

.bx-wrapper {
	position: relative;
	margin: 0 auto 60px;
	padding: 0;
	*zoom: 1;
}

.bx-wrapper img {
	max-width: 100%;
	display: block;
}

/** THEME
===================================*/

.bx-wrapper .bx-viewport {
	left: -5px;
	background: #fff;
	
	/*fix other elements on the page moving (on Chrome)*/
	-webkit-transform: translatez(0);
	-moz-transform: translatez(0);
    	-ms-transform: translatez(0);
    	-o-transform: translatez(0);
    	transform: translatez(0);
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
	position: absolute;
	bottom: -30px;
	width: 100%;
}

/* LOADER */

.bx-wrapper .bx-loading {
	min-height: 50px;
	background: url(images/bx_loader.gif) center center no-repeat #fff;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000;
}

/* PAGER */

.bx-wrapper .bx-pager {
	text-align: center;
	font-size: .85em;
	font-weight: bold;
	color: #666;
	padding-top: 20px;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
	display: inline-block;
	*zoom: 1;
	*display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
	background: #666;
	text-indent: -9999px;
	display: block;
	width: 10px;
	height: 10px;
	margin: 0 5px;
	outline: 0;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #000;
}

/* DIRECTION CONTROLS (NEXT / PREV) */

.bx-wrapper .bx-prev {
	left: 10px;
	background: url(images/controls.png) no-repeat 0 -32px;
}

.bx-wrapper .bx-next {
	right: 15px;
	background: url(images/controls.png) no-repeat -43px -32px;
}

.bx-wrapper .bx-prev:hover {
	background-position: 0 0;
}

.bx-wrapper .bx-next:hover {
	background-position: -43px 0;
}

.bx-wrapper .bx-controls-direction a {
	position: absolute;
	top: 50%;
	margin-top: -16px;
	outline: 0;
	width: 32px;
	height: 32px;
	text-indent: -9999px;
	z-index: 1;
}

.bx-wrapper .bx-controls-direction a.disabled {
	display: none;
}

/* AUTO CONTROLS (START / STOP) */

.bx-wrapper .bx-controls-auto {
	text-align: center;
}

.bx-wrapper .bx-controls-auto .bx-start {
	display: block;
	text-indent: -9999px;
	width: 10px;
	height: 11px;
	outline: 0;
	background: url(images/controls.png) -86px -11px no-repeat;
	margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
	background-position: -86px 0;
}

.bx-wrapper .bx-controls-auto .bx-stop {
	display: block;
	text-indent: -9999px;
	width: 9px;
	height: 11px;
	outline: 0;
	background: url(images/controls.png) -86px -44px no-repeat;
	margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
	background-position: -86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
	text-align: left;
	width: 80%;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
	right: 0;
	width: 35px;
}

/* IMAGE CAPTIONS */

.bx-wrapper .bx-caption {
	position: absolute;
	bottom: 0;
	left: 0;
	background: #666\9;
	background: rgba(80, 80, 80, 0.75);
	width: 100%;
}

.bx-wrapper .bx-caption span {
	color: #fff;
	display: block;
	font-size: .85em;
	padding: 10px;
}


